PORT=<Local port in which this node application runs>
JWT_SECRET=<Your secret key to generate and verify jwt tokens>
DB_HOST=<MYSQL host>
DB_USER=<MYSQL user name>
DB_PASSWORD==<MYSQL password>
DB_NAME=<MYSQL database name>